section#battleground

	#battle-background


	#battle
		.container-fluid
			.row
				.col-md-12.col-xs-12
					button.center-block#rand.btn.btn-primary.btn-lg Random Houses
				
				//.col-md-4.col-xs-4
					button.center-block#mostWins.btn.btn-primary.btn-lg Most Wins
				//.col-md-4.col-xs-4
					button.center-block#last.btn.btn-primary.btn-lg Last Played 
			
			.row
				.col-md-6.col-xs-6
					ul.list-group.center-block.dingdong
				.col-md-6.col-xs-6
					ul.list-group.center-block.dinghouse
				.col-md-12
					ul.list-group.center-block.scoredong
			.row
				.col-md-12.knupp
					button.center-block#startMatch.btn.btn-primary.btn-lg Start Battle
					button.center-block#end.btn.btn-primary.btn-lg End Battle
					button.center-block#endMatch.btn.btn-primary.btn-lg End Battle
				