section.main
	
	.container-fluid
		.row
			.col-md-4
				h3 LAST WINNER
				ul.list-group.lastWinner
					
			.col-md-4
				h3 Top Rating
				ul.list-group.wins
					li.list-group-item Hannes
						span.badge 5
					li.list-group-item Malin
						span.badge 3
					li.list-group-item Gustav
						span.badge 2
					li.list-group-item Rangvi
						span.badge 1
					li.list-group-item Markus
						span.badge 1
					li.list-group-item Sandra
						span.badge 1		

			.col-md-4
				h3 Castle League
				ul.list-group.castleLeague
					li.list-group-item Hannes
						span.badge 23
					li.list-group-item Malin
						span.badge 15
					li.list-group-item Gustav
						span.badge 12
					li.list-group-item Rangvi
						span.badge 12
					li.list-group-item Markus
						span.badge 5
					li.list-group-item Sandra
						span.badge 4
		.row
			.col-md-12
				button#start.center-block.btn.btn-primary.btn-lg.btn-danger Start New Game			