section.main
	
	.container-fluid
		.row
			.col-md-4
				ul.list-group.lastWinner
					li.list-group-item Hannes
					li.list-group-item Malin
					li.list-group-item Gustav
					li.list-group-item Rangvi
					li.list-group-item Markus
					li.list-group-item Sandra
			.col-md-4
				ul.list-group.wins
					li.list-group-item Hannes
					li.list-group-item Malin
					li.list-group-item Gustav
					li.list-group-item Rangvi
					li.list-group-item Markus
					li.list-group-item Sandra		
			.col-md-4
				ul.list-group.castleLeague
					li.list-group-item Hannes
						span.badge 23
					li.list-group-item Malin
						span.badge 15
					li.list-group-item Gustav
						span.badge 12
					li.list-group-item Rangvi
						span.badge 12
					li.list-group-item Markus
						span.badge 5
					li.list-group-item Sandra
						span.badge 4
						
						