section.main
	
	.container-fluid
		.row
			.col-md-4
				h3 LAST WINNER
				ul.list-group.lastWinner
					
			.col-md-4
				h3 Top Rating
				ul.list-group.mostWins

			.col-md-4
				h3 Castle League
				ul.list-group.castleLeague
					
		.row
			.col-md-12
				button#start.center-block.btn.btn-primary.btn-lg.btn-danger Start New Game			